<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/Icons/citaê.png" type="image/x-icon">
    <title>CITAE | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <!--Fundo escuro-->
    <div id="fade-back"></div>

    <!--Navegação (Pesquisa, Usuário, Abrir Menu)-->
    <nav id="body-nav">
        <div class="content-nav">
            <button id="btn-menu">
                <i class="fas fa-bars"></i>
            </button>
            <form id="search-form" action="" method="post">
                <input placeholder="PESQUISAR NO CITAÊ" id="input-search" type="search" name="" id="">
            </form>
            <!--Se o usuário tiver logado a rota é User, senão a rota é Login, tudo nesse mesmo botão-->
            <a id="btn-user" href="@Url.Action("Index", "User")">
                <img src="~/Images/Samples/mario.jpg" alt="" srcset="">
            </a>
        </div>
    </nav>

    <!--Menu que da acesso às páginas-->
    <nav id="menu">
        <div class="img-logo">
            <img src="~/Images/Icons/citaê.svg" alt="" srcset="">
        </div>
        <ul class="menu-itens">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fas fa-home"></i> <span>Página Inicial</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Categories")">
                    <i class="fas fa-stream"></i> <span>Categorias</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Quotes")">
                    <i class="fas fa-quote-right"></i> <span>Citações</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Authors")">
                    <i class="fas fa-portrait"></i> <span>Autores</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Favorites")">
                    <i class="fas fa-heart"></i> <span>Favoritos</span>
                </a>
            </li>
        </ul>
    </nav>

    <!--Conteúdo-->
    <main id="content-app">
        @RenderBody()
    </main>


    @Scripts.Render("~/Scripts/base-javascript")
    @RenderSection("scripts", required: false)
    <script src="https://kit.fontawesome.com/88787e614f.js"></script>
</body>
</html>
